	 	<li>
            <a name="add"></a>
            <div class="timeline-badge"></div>
            <div class="timeline-line"></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                 <div class="top-link">
                  <a href="javascript:void(0);" onclick="scrollToAnchor('top')"><span class="glyphicon glyphicon-menu-up"></span></a>
                </div>
                <!-- Contact Us section -->
                <h1>Component toevoegen</h1>
                <h5>U kunt componenten toevoegen aan dit overzicht zonder een acount aan te maken</h5>
                <div class="row">
                  <div class="col-sm-12 panel">
                    <div class="panel-body">
                       <form action="{{ path('app_component_quickadd') }}">	
                          <div class="form-horizontal">
                            <div class="row">
                              <div class="col-md-12">
                              	<p>U hoeft uw componenten niet zelfstandig aan te melden voor deze pagina, common-ground.dev kijkt ieder uur op github welke repositories &ldquo;commonground&rdquo; vermelden. Responsories die in de root zowel een openapi.yaml (OAS3) als publiccode.yaml bevatten worden vervolgens automatisch opgenomen op dit overzicht.</p>

								<p>Hierbij volstaat zowel het plaatsen van bovengenoemde bestanden als het in de root opnemen van een symlink naar bovenstaande bestanden (zolang de bestanden wel in de repository staan).</p>
                              </div>
                            </div>
                            <!-- 
                            <div class="row">
                              <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="https://github.com/ConductionNL/love-common-ground" id="url" name="url">                           
                              </div>
                              <div class="col-md-4">
                                <input type="submit" value="Insturen"  class="btn background-1" type="button"></input>                           
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                              	<p>Let op! voor de beta versie van deze pagina ondersteunen wij alleen github.</p>
                              </div>
                            </div>
                             -->
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>